In [21]:
# Function to print all combinations of a pairs of a unique list
#[1,2,3] -> (1,2),(1,3),(2,3) -> 3C2 -> 3!/(3-2)!*2! -> 6/2 -> 3

#[1,2,3,4] -> (1,2),(1,3),(1,4),(2,3),(2,4),(3,4) -> 6


def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print((li[i],li[j]),end=",")
    return
li = [1,2,3,4]
combinations(li)

(1, 2),(1, 3),(1, 4),(2, 3),(2, 4),(3, 4),

In [26]:
def combinations3(li, p):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print((li[i],li[j],li[k]),end=",")
    return
li = [1,2,3,4,5]
p = 3
combinations3(li, p)

(1, 2, 3),(1, 2, 4),(1, 2, 5),(1, 3, 4),(1, 3, 5),(1, 4, 5),(2, 3, 4),(2, 3, 5),(2, 4, 5),(3, 4, 5),

In [11]:
# [1,2,3] -> [1,2,3]

def medium(li,k):
    while(True):
        li3 = differencePairs(li)
        if li3[0] == li3[1]:
            brek
    if len(li3[0]) > 


def differencePairs(li):
    cli = li[:]
    newelements = []
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli,li]

li = [1,9]
differencePairs(li)

[[1, 9], [1, 9, 8]]

In [ ]:

[4,8]
[20,40,60]
[4,8,12,16]
[3,6,9,12]

#Convert the list into an Arithmetic Progression

[3,8,5]
[3,8,15,5,2,1,4,6,7,9,10,11,12,13,14]

In [4]:

def medium(li,k):
    while(True):
        li3 = differencePairs(li)
        if li3[0] == li3[1]:
            break
    if len(li3[0]) >= k:
        return sorted()

def differencePairs(li):
    c = li.copy()
    newelements = []
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [c,li]
    
    
li = [2,3]
differencePairs(li)

[2, 3, 1]

# Set - Data Structure in Python

Represented by '{}'

a = {1,2,3,4,5,6} # It contians only unique elements

In [8]:
a = {1,2,3,4,5,6,6,5,4}
print(a)

{1, 2, 3, 4, 5, 6}

In [9]:
a = {1,2,3,4,5,6,6,5,4}
a.add(7) #Add is a function to add element to a set
a

{1, 2, 3, 4, 5, 6, 7}

In [16]:
a = {6,6,5,4,1,2,3,4,5}
a.add(7)
for i in a:
    print(i,end=" ") # Accessing elements

1 2 3 4 5 6 7

In [29]:
a = {6,66,5,45,1,2,3,4,5}
b = {7,8,9,1,2,3,78}
li = [11,12,13,1]
a.update(b,li) # Adding Multiple elements to a set by using the set,list etc., 
print(a)
print(b)
print(li)

{1, 66, 2, 3, 5, 6, 4, 7, 8, 9, 11, 12, 45, 78, 13}
{1, 2, 3, 7, 8, 9, 78}
[11, 12, 13, 1]

In [43]:
a.discard(13) # to remove the element by passing the value

a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 45, 66, 78}

In [48]:
a = {10,1,2,3,4,5,6}
b = {7,8,9,1,2,3}

a.union(b)
a
# a | b
# A U B = B U A

b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [49]:
a = {10,1,2,3,4,5,6}
b = {7,8,9,1,2,3}

a.intersection(b)
#a & b

{1, 2, 3}

In [52]:
a = {10,1,2,3,4,5,6}
b = {7,8,9,1,2,3}
c = {111,123}
a.isdisjoint(c) # True because there are no common set values
a.isdisjoint(b) # False because there is a common value in a set

False

In [56]:
a = {10,1,2,3,4,5,6}
b = {7,8,9,1,2,3}
c = {111,123}
a-b # All elements of a which are not in b
b-a

{7, 8, 9}

In [58]:
sorted(b)

[1, 2, 3, 7, 8, 9]

In [59]:
a ^ b # Elements either in a or b

{4, 5, 6, 7, 8, 9, 10}

In [ ]:
Procedural : C

Object Oriented : Java, Python
    
Scripting : PHP, Python, Javascript, Shell, Perl etc.,
    
Fucntional : Python, Haskell, Scala
    
Logic : Prolog, Lisp

# List Comprehensions

In [79]:
# List of N natural numbers

# n = 10 
# l=[]
# for i in range(1,n+1):
#     l.append(i)
# print(l)

l = [i for i in range(1,int(input())+1)]
l

10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [83]:

l = [i**3 for i in range(1,int(input())+1)]
l

11

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]

In [90]:
# Function to calculate the factorial

def factorial(n):
    if n == 0 or n ==1:
        return 1
    return n*factorial(n-1)

n=int(input())
factorial(n)
# Apply list comprehension to calculate the factorial of n natural number
l = [factorial(i) for i in range(1,n+1)] # List Comprehension for a n natural factorial list
l

11

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800, 39916800]

In [4]:
# Calculate or store cumulative sum of numbers till n in a list

# n = 3, [1, 3, 6]
# n = 5, [1, 3, 6, 10, 15]

l = [sum(range(i+1)) for i in range(1,int(input())+1)]
l

10

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [12]:
# List Comprehension to store
# only leap years in a given time period

st = 1970
et = 2019
leapYears = [i for i in range(st,et+1) if i%400 ==0 or i%100!=0 and i%4 == 0]
leapYears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [43]:

li = [1,20,3,2,1,4,4,20,20]
s=[]
# unique = [li[i] for i in range(len(li)-1) if li[i] not in l]
# unique = [i for i in sorted(li) if li.count(i)==1]
unique = [i for i in li if i not in s and (s.append(i) or True)]
unique

[1, 20, 3, 2, 4]

# Iterators

Iterable - Strings, Lists, Tuples, Sets, Dictionaries

Convert Iterable to Iterator -> iter()

For Loop: 



Iterator: Stop the iteration in execution state

In [69]:
it = iter('Python')

# next(it)
# next(it)
# for i in it:
#     print(next(i))


print("1:\n")
print(next(it))
print("2:\n")
print(next(it))

1:

P
2:

y

# Generator

In [84]:
def generator():
    n = 2
    yield n
    
    n = n ** 3
    yield n
    
    n = n ** 3
    yield n

a = generator()
next(a)
next(a)
next(a)

512

In [88]:
def generator():
    n = 2
    for i in range(1,5):
        n **=3
        yield n
    

a = generator()
next(a)
next(a)
next(a)
next(a)
# next(a) It stops in the fifth because the iterator is to be stopped in the 5th case of a generator

2417851639229258349412352

In [91]:
def generator():
    n = 2
    while True:
        n **=3
        yield n
    

a = generator()
next(a)
b = next(a) ** 2
b *= next(a)
b

35184372088832

In [93]:
def generator():
    n = 2
    while True:
        n **=3
        yield n
    

a = generator()
for i in range(5):
    print(next(a))
next(a)

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208

2824013958708217496949108842204627863351353911851577524683401930862693830361198499905873920995229996970897865498283996578123296865878390947626553088486946106430796091482716120572632072492703527723757359478834530365734912