In [143]:
# Fucntion to encrypt a data file

datafile =  'DataFiles/marks1.txt'
keyfile = 'DataFiles/key.txt'
datafile1 =  'DataFiles/encryptedMarks.txt'

def dictionaryKeyFile(keyfile):
    key = {}
    with open(keyfile,'r') as f:
        for line in f:
            line = line.split()
            key[line[0]] = line[1]
    return key
    
def encryptMarksData(datafile, keyfile):
    # construct a dictionary for key data
    key = dictionaryKeyFile(keyfile)
    with open(datafile,'r') as f:
        filedata = f.read().split("\n")
    with open('DataFiles/encryptedMarks.txt','w') as f:
        for mark in filedata:
            line = ''
            for n in mark:
                line+=key[n]
            f.write(line+"\n")
    return

def decryptMarksData(datafile1,keyfile):
    key = dictionaryKeyFile(keyfile)
#     key = key.items()
    newkey = {}
    for key, value in key.items():
        newkey[value] = key
    with open(datafile1,'r') as f:
        filedata = f.read().split("\n")
    with open('DataFiles/decryptedMarks.txt','w') as f:
        for mark in filedata:
            line = ""
            for j in mark:
                line+=newkey[j]
            f.write(line + "\n")
    return
dictionaryKeyFile(keyfile)
encryptMarksData(datafile, keyfile)
decryptMarksData(datafile1,keyfile)

In [144]:
# Comprehensions
keyfile = 'DataFiles/key.txt'
key = dictionaryKeyFile(keyfile)

evenkeys = {item for item in key}
evenkeys

{'0', '1', '2', '3', '4', '5', '6', '7', '8', '9'}


# Numpy Library
 - Processing N-Dimensional arrays

In [145]:
import numpy as np

li = [1, 2, 3,'z']
# li
a = np.array(li)

b = np.arange(12)

b
# a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [146]:
# m = np.random.randint(0,3,size=(3,1,5,6)) 
# Size here 3 represents the set of records with 1 pair on each with 5 rows on each with 6 columns values
# m

m = np.random.randint(0,2,size=(3,3,3,3))
m

array([[[[0, 1, 1],
         [1, 1, 1],
         [0, 1, 1]],

        [[1, 1, 1],
         [0, 1, 1],
         [0, 1, 0]],

        [[1, 0, 0],
         [0, 1, 0],
         [1, 0, 1]]],


       [[[1, 1, 1],
         [0, 1, 1],
         [1, 1, 1]],

        [[0, 1, 1],
         [0, 0, 1],
         [1, 1, 0]],

        [[0, 1, 1],
         [0, 1, 1],
         [0, 1, 0]]],


       [[[0, 1, 1],
         [1, 0, 0],
         [0, 0, 1]],

        [[1, 0, 1],
         [0, 0, 1],
         [1, 0, 0]],

        [[0, 1, 1],
         [0, 1, 1],
         [0, 0, 1]]]])

In [147]:
m = np.random.randint(0,3,size=(3,1,5,6))
# m[2][2][2][1]
m[2][0][2][3]
# m

0

In [148]:
m.ndim

4

In [149]:
m.size

90

In [150]:
m.shape

(3, 1, 5, 6)

In [151]:
m.dtype

dtype('int32')

In [152]:
m.itemsize

4

In [153]:
m.nbytes

360

In [154]:
print(b)

[ 0  1  2  3  4  5  6  7  8  9 10 11]

In [155]:
c = b.reshape(3,4)
c

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [156]:
d = c + 1
d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [157]:
import numpy as np
N = np.ones((5, 3))
print("Matrix N:\n",N)

Matrix N:
 [[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

# Pandas

### Use Cases
    - Data Cleaning
    - Data Transformation
    - Data Analysis
    
### Notations
    - Series
    - Data Frames

In [55]:
import pandas as pd

internal1 = {'s1':21,'s2':18,'s3':24}

internal1 = pd.Series(internal1)
internal1

s1    21
s2    18
s3    24
dtype: int64

In [83]:
internal2 = {'s1':15,'s2':18,'s3':12}

internal2 = pd.Series(internal2)
internal2

s1    15
s2    18
s3    12
dtype: int64

In [84]:
final = {'Internal1':internal1,'Internal2':internal2}
final = pd.DataFrame(final)
final

    Internal1  Internal2
s1         21         15
s2         18         18
s3         24         12

In [85]:
final = {'Internal1':internal1,'Internal2':internal2}
final = pd.DataFrame(final)
final['Internal1']

s1    21
s2    18
s3    24
Name: Internal1, dtype: int64

In [86]:
final

    Internal1  Internal2
s1         21         15
s2         18         18
s3         24         12

In [87]:
final.columns # Names of all columns

Index(['Internal1', 'Internal2'], dtype='object')

In [88]:
final.values # Names of all rows

array([[21, 15],
       [18, 18],
       [24, 12]], dtype=int64)

In [89]:
final.values[1]

array([18, 18], dtype=int64)

In [90]:
final.values[2,0]

24

In [91]:
final.values[2][1]

12

In [92]:
for i in final.values:
    print('Intenal1 - ',i[0],',Intenal2 - ',i[1])

Intenal1 -  21 ,Intenal2 -  15
Intenal1 -  18 ,Intenal2 -  18
Intenal1 -  24 ,Intenal2 -  12

In [93]:
final

    Internal1  Internal2
s1         21         15
s2         18         18
s3         24         12

In [108]:
final.loc[3] = [30,71]
final

    Internal1  Internal2
s1         21         15
s2         18         18
s3         24         12
s4         30         71
3          30         71

In [109]:
final = final.drop(3)
final

    Internal1  Internal2
s1         21         15
s2         18         18
s3         24         12
s4         30         71

In [110]:
final

    Internal1  Internal2
s1         21         15
s2         18         18
s3         24         12
s4         30         71

In [111]:
final.values[1] = [23, 25]
final

    Internal1  Internal2
s1         21         15
s2         23         25
s3         24         12
s4         30         71

In [114]:
# Reading CSV File data
import pandas as pd
filepath = 'DataFiles/Income.csv'
incomedf = pd.read_csv(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [115]:
# Extracting income of all states in 2013

#California : 57528


for row in incomedf.values:
    print(row[1], ":", row[-1])

Alabama : 41381
Alaska : 61137
Arizona : 50602
Arkansas : 39919
California : 57528

In [122]:
#Average income of Arizona

sum = 0
for i in range(2,11):
    sum += incomedf.values[2][i]

sum/len(incomedf.values[2][2:])

48967.88888888889

In [124]:
# Average income of all states in year 2012

sum = 0
for row in incomedf.values:
    sum += row[-2]

sum/len(incomedf.values)

50038.8