# Notebook Basics

### Markdown Basics

**Raju** <br>
*Italic* <br>
***Bolditalic*** <br>

* **Bold**
* **Italic**
* ***Bold Italic***

* Normal text
    * Sublist 1
    * Sublist 2
    
    
1. Ordered list element1
2. Ordered list element2

<img src="logo.jpg" height="350px" width="550px" align="left">



![logo](logo.jpg)



[logoname](logo.jpg)



- [ ] Option1
- [ ] Option2
- [x] Option3





I get 10 times more traffic from [Google][] than from
[Yahoo][] or [MSN][].

  [google]: http://google.com/        "Google"
  [yahoo]:  http://search.yahoo.com/  "Yahoo Search"
  [msn]:    http://search.msn.com/    "MSN Search"



`printf("Hello")`


<http://google.com/>

<rravikumar34@gmail.com>

# Python Basics:

Python Version 3.7

- Scripting
- Object Oriented
- Functional

In [5]:
# Python Comments

print("Hello Good Afternoon !") # Basic Output
print("Hello Python") # the upper and lower stmnts are printed
print("Hello","Raju") # Here the single space is to be occupied
print("Raju","!",end=" ") # Here we can get the first and other stmnt by using side-by-side 
#we are using end what ever it may be the character is to be used for dividing the string in end
print("Kiran")

Hello Good Afternoon !
Hello Python
Hello Raju
Raju ! Kiran

### Assignment

In [13]:
n1=123456 #Single Variable Assignment

n2 = n3 = n4 = n1 #Multi Variable Assignment of the value

a, b, c = 123, 234, 345 #Multi Variable Assignment with different Value

print(a, b, c)

123 234 345

### Data Types & Conversions
   - int
   - float
   - string
   - double

In [57]:
type(a)
s1 = "Python"
type(s1)

f1 = 12.345
type(f1)

float(str(int(f1)))

12.0

### Arthmetic Operations

- +
- -
- *
- /
- %
- **

In [44]:
n1 % 11
n3 = n2 ** 123456
print(type(n3))
print(len(str((n3)))) #len (str(n3)))
n3




atoms=10 ** 82
print(len(str(atoms)))
print(type(str(atoms)))
print(atoms)

<class 'int'>
628578
83
<class 'str'>
10000000000000000000000000000000000000000000000000000000000000000000000000000000000

### Conditionals

In [66]:
if atoms < 10 ** 9:
    print("True")
else:
    print("False")

False

In [1]:
#check whether if a number is even or odd
n=123
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [3]:
#Find the greatest of 3 numbers
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))
n3 = int(input("Enter the third number: "))
if n1 > n2 and n1 > n3:
    print(n1,"is the greatest")
elif n2 > n3:
    print(n2,"is the greatest")
else:
    print(n3,"is the greatest")

Enter the first number: 1234
Enter the second number: 567899
Enter the third number: -1
567899 is the greatest

In [7]:
#Check if a year is a Leap year
n=int(input("Enter an year"))
if n%400==0 or n%100!=0 and n%4==0:
    print(n,"is a leap year")
else:
    print(n,"is not a leap year")

Enter an year2020
2020 is a leap year

In [11]:
#Check if a number exists in a given range
n=int(input("Enter a number: "))
lb=int(input("Enter a lower range: "))
up=int(input("Enter a upper range: "))
if n<=up and n>=lb:
    print("True")
else:
    print("False")

Enter a number: 134
Enter a lower range: 23
Enter a upper range: 50
False

In [13]:
#Calculate the number of digits in a number
n=input("Enter a number")
print(int(len(n)))

Enter a number1234
4

In [15]:
#check if a number is multiple of 10
n=int(input("Enter a number "))
if n%10==0:
    print(n,"is a multiple of 10")
else:
    print(n,"is not a multiple of 10")

Enter a number 23
23 is not a multiple of 10

In [17]:
#Check if a number is a factor of 1000
n=int(input("Enter a number: "))
if 1000%n==0:
    print(n,"is a factor of 1000")
else:
    print(n,"is not a factor of 1000")

Enter a number: 1000
1000 is a factor of 1000

In [28]:
#Check if a given string is equal to a number
n=input("Enter a number: ")
if int(n)==int(str(n)):
    print(n,"is equal to a number")
else:
    print(n,"is not equal to a number")

    
    
s1="1234"
n=1234
if str(n) == s1:
    print(n,"is equal to",s1)
else:
    print(n,"is not equal to",s1)

Enter a number: 3
3 is equal to a number

In [34]:
#Calculate the Square root of a number without using functions
n=int(input("Enter a number to find the square root: "))
print(n**0.5)

Enter a number to find the square root: 8
2.8284271247461903

In [40]:
#Calculate the number of nano seconds in a given year(considering leap year logic)
year=2019
if year%400==0 or year%100!=0 and year%4==0:
    print(366 * 24 * 60 * 60 * (10**9))
else:
    print(365 * 24 * 60 * 60 * (10**9))

31536000000000000

# Sample example on the string

## Testing File on to Git Hub