In [2]:
# Function for loop 

def repeat(n):
    for i in range(n):
        print(i, end=" ")
    k = "Raju " * n
    print(k)

n=int(input())
repeat(n)

4
0 1 2 3 Raju Raju Raju Raju

In [20]:
# Find the Largest number in a list

def LargestNum(li):
    li=sorted(li)
    print(li)
    print(li[-1]) # Print(li[len(li)-2])

n = int(input())
# k=[int(x) for x in input().split()]
k=list(map(int,input().split()))
print(k)
    
LargestNum(k)

5
2 234 34 1 5
[2, 234, 34, 1, 5]
234

In [24]:
# Find the even and odd elements into a two different list

def EvenOdd(li):
    e=[]
    o=[]
    for i in range(len(li)):
        if li[i]%2 == 0:
            e.append(li[i])
        else:
            o.append(li[i])
    print(e)
    print(o)
    
n = int(input())
k= list(map(int,input().split()))
EvenOdd(k)

5
4 7 9 12 1
[4, 12]
[7, 9, 1]

In [37]:
# Merge 2 lists and sort the list

def Mergelist(li,mi):
    k = []
    k.extend(li+mi)
    print(k)
    k = sorted(k)
    print(k)
    
n=int(input())
l=list(map(int,input().split()))
p=list(map(int,input().split()))
Mergelist(l,p)

4
1 -3 -10 5
-2 6 -4 11
[1, -3, -10, 5, -2, 6, -4, 11]
[-10, -4, -3, -2, 1, 5, 6, 11]

In [109]:
#Perfect squares and sum of all digits in number is less than 10
# def perfect(x):
#     x**2=(x**0.5)
def squares(n,m):
    l=[]
#     l=[x ** 2 for x in range(n,m+1)]
    for i in range(n,m):
        x = i**2
        s = sumAlldigit(x)
        if  x <= m and s <= 10:
            l.append(x)
#             print(x)
    return l

def sumAlldigit(p):
    sum = 0
    while p != 0:
        sum += p%10
        p=p//10
    return sum

def genericSol(n,m):
    print(squares(n,m))
    
n = int(input())
m = int(input())

genericSol(n,m)

1
40
[1, 4, 9, 16, 25, 36]

In [98]:
print((50**0.5)**2)
x=50
print(sum(list(map(int,str(x)))))

50.00000000000001
5

In [23]:
li = [1,34,0,-1,4,54,7]
# li.sort(reverse=True)
# k=
# print(li.reverse())
# print(li)
li.reverse()
li.sort()
print(li)

[-1, 0, 1, 4, 7, 34, 54]

In [7]:
n=int(input())
# j=map(x,n)
j=list(map(int,input().split()))[:n]

s = [(lambda x:x%2==0)(k) for k in j] 
ats=list(filter((lambda x:x%2==0),(j)))
ats

4
1 2 3 4

[2, 4]

In [12]:
j = [1,3,4,6]
lis = [i for i in j if i%2==0]
lis

[4, 6]

In [3]:
n = int(input())
for i in range(n):
    j = list(map(int,input().split()))
    print(j)

2
5 7
[5, 7]
5 6 8 9 0
[5, 6, 8, 9, 0]

In [14]:
lis = ["raju",[34,54,23,78],['a','c']]

for i in lis[1]:
    print(i,end=" ")

34 54 23 78

In [15]:
range(1,10)

range(1, 10)

In [19]:
for i in  lis[2]:
    print(i, end =",")

a,c,

In [20]:
for i in "Ravi":
    print(i,end=",")

R,a,v,i,

In [21]:
for i in lis:
    print(i,end=",")

raju,[34, 54, 23, 78],['a', 'c'],

In [27]:
for i in lis:
    for j in i:
        print(j,end=",")

r,a,j,u,34,54,23,78,a,c,

In [28]:
lis

['raju', [34, 54, 23, 78], ['a', 'c']]

In [31]:
for i in lis:
    if type(i) == list:
        for j in i:
            print(j,end =",")
    else:
        print(i,end=",")

raju,34,54,23,78,a,c,

In [48]:
data = ['raju','kiran','somu','1e2','1e3','1e4',12,13,14]
age=[]
name=[]
roll=[]
for i in data:
    if str(i).isdigit():
        age.append(i)
    elif i.isalpha():
        name.append(i)
    else:
        roll.append(i)

print(roll,name,age)

for i in range(len(name)):
    print("Student",(i+1))
    print("Name: ",name[i],"Roll: ",roll[i],"Age: ",age[i])

['1e2', '1e3', '1e4'] ['raju', 'kiran', 'somu'] [12, 13, 14]
Student 1
Name:  raju Roll:  1e2 Age:  12
Student 2
Name:  kiran Roll:  1e3 Age:  13
Student 3
Name:  somu Roll:  1e4 Age:  14

In [121]:
li = [1,2,3,4,5,6,7,8,9,10]
li[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
li[-1:]

[10]

In [59]:
li[3:]

[4, 5, 6, 7, 8, 9, 10]

In [60]:
li[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [61]:
k=li[::-1]
k

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [65]:
if li == k:
    print("True")
print("False")
print(k)
print(li)

False
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
li[5:]

[6, 7, 8, 9, 10]

In [74]:
li[2::-2]

[3, 1]

In [85]:
li[5::-2]

[6, 4, 2]

In [86]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [88]:
li[0]=10
li

[10, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [89]:
li[0:2]=[1,3,2]
li

[1, 3, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [90]:
li[0:3]=[0,1,2,3]
li

[0, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

In [91]:
len(li)

12

In [92]:
li*2

[0, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

In [93]:
li.insert(1,10)

In [94]:
li

[0, 10, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

In [99]:
s=["welcome","to","apssdc","abc"]

# for i in s:
#     if s[i]<s[i+1] and s[i]<s[i+2]:
#         print(s[i])
#     elif s[i+1]<s[2]:
#         print(s[1])
#     else:
#         print(s[2])

small=s[0]
for i in s:
    if small> i:
        small=i
print(small)

abc

In [100]:
del li[0]

In [101]:
li

[10, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

In [102]:
del li[0:3]

In [120]:
li

NameError: name 'li' is not defined

In [104]:
li

[3, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
li.pop()

10

In [106]:
li

[3, 3, 4, 5, 6, 7, 8, 9]

In [107]:
li.pop(1)

3

In [108]:
li

[3, 4, 5, 6, 7, 8, 9]

In [109]:
li.remove(5)

In [110]:
li

[3, 4, 6, 7, 8, 9]

In [111]:
lii=li.copy()

In [112]:
lii

[3, 4, 6, 7, 8, 9]

In [113]:
lii.clear()

In [114]:
lii

[]

In [115]:
li

[3, 4, 6, 7, 8, 9]

In [116]:
del lii

In [117]:
lii

NameError: name 'lii' is not defined

In [118]:
del li

In [122]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [163]:
tuple1 = (1,1,1,5,5,3,15,15)
removedups=set(tuple1)
print(removedups)
for i in removedups:
    print(i,"count = ",tuple1.count(i))

{1, 3, 5, 15}
1 count =  3
3 count =  1
5 count =  2
15 count =  2

In [176]:
d={'name':'lovely'}
d1=dict([(1,20),(2,30),(3,40)])
print(d1)
d2=dict(([1,20],[2,30],[3,40]))
print(d2)
d3=dict({(2,40),(3,60),(4,80)})
print(d3)
d4=dict({('bharu',1),('janu',2)})
print(d4)
d5=dict(((1,45),(2,90),(3,150)))
print(d5)
se={'bhargavi','vadayar',45}
print(se)

{1: 20, 2: 30, 3: 40}
{1: 20, 2: 30, 3: 40}
{2: 40, 3: 60, 4: 80}
{'bharu': 1, 'janu': 2}
{1: 45, 2: 90, 3: 150}
{'bhargavi', 45, 'vadayar'}